@model Models.ViewModels.Cart

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var products = Model.products as List<Models.Models.DataModels.Product>;
    var productsID = Model.productsId as List<int>;
}
<!-- Page Title
============================================= -->
<section id="page-title">
    <div class="container clearfix">
        <ol class="breadcrumb col-md-6 col-sm-6">
            <li><a href="/">Trang chủ</a></li>
            <li class='active'>Giỏ hàng</li>
        </ol>
    </div>
</section>
<!-- #page-title end -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            @if (Model.productsId != null&&Model.products!=null)
            {
                <form action="/cart" method="post" id="cartformpage">
                    <div class="cart">
                        <div class='thead row hidden-xs'>
                            <div class="col-sm-1 td cart-product-thumbnail">Sản phầm</div>
                            <div class="col-sm-4 td cart-product-name">Mô tả</div>
                            <div class="col-sm-2 td cart-product-price">Đơn giá</div>
                            <div class="col-sm-2 td cart-product-quantity">Số lượng</div>
                            <div class="col-sm-2 td cart-product-subtotal">Thành tiền</div>
                            <div class="col-sm-1 td cart-product-remove">Xoá</div>
                        </div>
                        <div class='tbody'>
                            @foreach (var item in products)
                            {
                                <div class="row cart_item">
                                    <div class="td col-sm-1 cart-product-thumbnail">
                                        <a href="@Url.Action("Productsdetail","Home",new { id=item.ProductId})"><img src="//product.hstatic.net/1000104489/product/dau_hao_chay_huu_co_229437fc5fc24694b99b31a1e6b28dfa_small.jpg" alt="Dầu hào chay hữu cơ"></a>
                                    </div>

                                    <div class="td col-sm-4 cart-product-name">
                                        <a href="@Url.Action("Productsdetail","Home",new { id=item.ProductId})">
                                            @item.ProductName
                                        </a>
                                        <p style='margin-bottom: 0;'>Default Title</p>
                                    </div>

                                    <div class="td col-sm-2 cart-product-price">
                                        <span class="amount">
                                            @{
                                                var vie = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                                                var price = item.Discount > 0 ? item.PriceOut - item.PriceOut * @item.Discount / 100 : @item.PriceOut;
                                            }
                                            @String.Format(vie, "{0:c00}", price)
                                        </span>
                                    </div>

                                    <div class="td col-sm-2 cart-product-quantity">
                                        <div class="quantity clearfix">
                                            @{
                                                var quantity = productsID.Where(x => x == item.ProductId).Count();
                                            }
                                            <input type="number" name="updates[]" value="@quantity" class="qty" id='product-quantity2updates_1065040234' />
                                        </div>
                                    </div>

                                    <div class="td col-sm-2 cart-product-subtotal">
                                        <span class="amount">
                                            @{

                                                var prices = price * quantity;
                                            }
                                            @String.Format(vie, "{0:c00}", prices)
                                        </span>
                                    </div>

                                    <div class="td col-sm-1 cart-product-remove">
                                        <a href="/cart/change?line=1&quantity=0" class="remove" title="Remove this item"><i class="fa fa-trash-o"></i></a>
                                    </div>

                                </div>

                            }
                            <div class='row total_price'>
                                <div class='col-sm-2 col-xs-6 td col-sm-push-7'><h4 class='nomargin'>Tổng tiền </h4></div>
                                <div class='col-md-3 col-xs-6 td col-sm-push-7'>
                                    <span class="amount color lead">
                                        <strong>
                                            @{
                                                var vie1 = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                                                var total = products.Sum(item => (item.PriceOut - item.PriceOut * item.Discount / 100) * productsID.Where(productId => productId == item.ProductId).Count());
                                            }
                                            @String.Format(vie1, "{0:c00}", total)
                                        </strong>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-6 col-sm-6 col-xs-12 nopadding">
                            <div class="checkout-buttons clearfix">
                                <label for="note">Ghi chú </label>
                                <textarea style='height:85px' id="note" class='sm-form-control' name="note" rows="8" cols="50"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 topmargin nopadding">
                            <button name="update" class="cart_update_btn button button-3d nomargin fright">Cập nhật giỏ hàng</button>
                            <button name='checkout' class="cart_checkout_btn button button-3d notopmargin fright">Thanh toán</button>
                        </div>
                    </div>
                </form>
            }
            <script type="text/javascript">
                function minus_quantity(item_id) {
                    var quantity = parseInt($('#product-quantity2updates_' + item_id).val());
                    if (quantity > 0) {
                        quantity -= 1;
                    }
                    else {
                        quantity = 0;
                    }
                    $('#product-quantity2updates_' + item_id).val(quantity);
                }
                function plus_quantity(item_id) {
                    var quantity = parseInt($('#product-quantity2updates_' + item_id).val());
                    if (quantity < 100) {
                        quantity += 1;
                    }
                    else {
                        quantity = 100;
                    }
                    $('#product-quantity2updates_' + item_id).val(quantity);
                }
            </script>
        </div>

    </div>
</section>
		</div>

<!-- #content end -->
