@model IEnumerable<Models.Models.DataModels.Category>
<div class='slider_wrap'>
    <div id="conteneur">
        <div class="header">
            <div class="menu_nav">
                <div id="onglet_gauche" class="gauche">
                </div>
                <ul class="menu_nav_li">


                    @foreach (var item in Model)
                    {
                        if (item.ParentId == null)
                        {
                            <li class="">
                                <a href="@Url.Action("Products","Home",new { id=item.CategoryId})" class="link_menu_haut">@item.CategoryName</a>
                                <ul class="sub-menu-ol">
                                    @foreach (var item1 in Model)
                                    {
                                        if (item1.ParentId == item.CategoryId)
                                        {
                                            <li>
                                                <a href="@Url.Action("Products","Home",new { id=item1.CategoryId})">@item1.CategoryName</a>

                                                <ul class="sub-menu-ol-2">
                                                    @foreach (var item2 in Model)
                                                    {
                                                        if (item2.ParentId == item1.CategoryId)
                                                        {
                                                            <li><a href="@Url.Action("Products","Home",new { id=item2.CategoryId})">@item2.CategoryName</a></li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }

                    }


                    @*<li class=""><a href="/collections/zero-waste" class="link_menu_haut">Zero Waste</a></li>*@

                    <li class=""><a href="@Url.Action("Products","Home",new {Sale="flashsale"})" class="link_menu_haut">Sale</a></li>
                    @*<li class=""><a href="/blogs/thuc-pham" class="link_menu_haut">Blog</a></li>*@
                </ul>
                <div id="onglet_droit" class="droit"></div>
            </div>
        </div>

    </div>

    <style>
        .line-text {
            line-height: 23px !important;
        }
    </style>


</div>


