@using Models.Models.DataModels
@model List<Models.Models.DataModels.Customer>
@{
    var customer_token = Request.Cookies["customer_token"];
    Customer user = null;
    if (customer_token != null && customer_token.Value!="")
    {
        user = Model.Where(x => x.ActiveCode.ToString() == customer_token.Value).FirstOrDefault();
    }
}
<div id="top-bar" class="">
    <div class="container clearfix">

        <div class="col_half col_last fright nobottommargin top_link_wrapper">
            <div class="top-links">
                <ul>


                    <li>@Html.ActionLink("Về LeafShop", "Introduce", "Home")</li>



                    <li><a href="/">Khuyến mãi</a></li>


                    @if (user != null)
                    {
                        <li>@Html.ActionLink("Blog", "News", "Home")</li>
                        <li>
                            <a style="display:inline !important" href='@Url.Action("Profile","Customer")'>
                                <img src="~/Content/images/avatar.png" style="width: 42px; height: 26px;">
                                @user.FullName
                            </a>
                        </li>
                        <li>
                            @*<a href='@Url.Action("Logout","Customer")' title="Đăng xuất">
                                Đăng xuất
                            </a>*@
                            <a href='javascript:void(0)' onclick="logout()" title="Đăng xuất">
                                Đăng xuất
                            </a>
                            <script>
                                function logout() {
                                    $.cookie('customer_token', "", { path: '/', expires: -100 });
                                    $(location).attr('href','/home/index')
                                }
                            </script>
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Blog", "News", "Home")</li>
                        <li><a href='@Url.Action("Index","Customer")'>Tài khoản</a></li>
                        <li><a href='@Url.Action("Index","Customer")'>Đăng nhập / Đăng ký</a></li>

                    }
                    <li></li>

                </ul>
            </div><!-- .top-links end -->

        </div>

    </div>

</div>
