@using Models.Models.DataModels
@model IEnumerable<Models.Models.DataModels.Provider>
@{

    ViewBag.Title = "Home Page";
    var listProductNew = ViewData["ProductsNew"] as List<Product>;
    var listProductQuickSale = ViewData["ProductSaleQuick"] as List<Product>;
    var listNews = ViewData["News"] as List<News>;

}
<section id="content">

    <div class="content-wrap" style="">
        <div class="container clearfix" style="">
            <!-- popular brand -->

            <div id="popular_brand" class="style_1">
                <div class="slick-slide">
                    <a href="/leafshop.vn/collections/yumearth" class="img"><img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/popular_brand_img_3.png?v=3503" alt=""></a>
                </div> <div class="slick-slide">
                    <a href="/leafshop.vn/collections/markal" class="img"><img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/popular_brand_img_4.png?v=3503" alt=""></a>
                </div><div class="slick-slide">
                    <a href="/collections/avril" class="img"><img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/popular_brand_img_5.png?v=3503" alt=""></a>
                </div><div class="slick-slide">
                    <a href="/collections/alphanova" class="img"><img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/popular_brand_img_6.png?v=3503" alt=""></a>
                </div><div class="slick-slide">
                    <a href="/collections/harmonie-verte" class="img"><img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/popular_brand_img_7.png?v=3503" alt=""></a>
                </div><div class="slick-slide">
                    <a href="/collections/buccotherm" class="img"><img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/popular_brand_img_8.png?v=3503" alt=""></a>
                </div><div class="slick-slide">
                    <a href="https://leafshop.vn/collections/bartolini" class="img"><img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/popular_brand_img_9.png?v=3503" alt=""></a>
                </div><div class="slick-slide">
                    <a href="/collections/la-mandorle" class="img"><img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/popular_brand_img_10.png?v=3503" alt=""></a>
                </div><div class="slick-slide">
                    <a href="https://leafshop.vn/collections/artisan-savonnier" class="img"><img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/popular_brand_img_11.png?v=3503" alt=""></a>
                </div><div class="slick-slide">
                    <a href="https://leafshop.vn/collections/sobo" class="img"><img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/popular_brand_img_12.png?v=3503" alt=""></a>
                </div><div class="slick-slide">
                    <a href="https://leafshop.vn/collections/bio-planet" class="img"><img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/popular_brand_img_13.png?v=3503" alt=""></a>
                </div><div class="slick-slide">
                    <a href="//leafshop.vn/collections/silvercare" class="img"><img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/popular_brand_img_16.png?v=3503" alt=""></a>
                </div><div class="slick-slide">
                    <a href="//leafshop.vn/collections/purasana" class="img"><img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/popular_brand_img_17.png?v=3503" alt=""></a>
                </div><div class="slick-slide">
                    <a href="//leafshop.vn/collections/4care-balance" class="img"><img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/popular_brand_img_18.png?v=3503" alt=""></a>
                </div>
            </div>

            <script>

                //var productsId = $.cookie('cart_token') ? $.cookie('cart_token').split('-') : [];
                $(document).ready(function () {
                    //$('.product_quick_add').each(function () {
                    //    $(this).off('click').on('click', function () {
                    //        var productId = $(this).attr('data-id');
                    //        productsId.push(productId);
                    //        var strId = productsId.join('-');
                    //        $.cookie('cart_token', strId, { path: '/', expires: 10 });
                    //        console.log(productsId)
                    //        //Toastr để thông báo mua sản phẩm
                    //        toastrClick(productId)
                    //        $.ajax({
                    //            'url': '/Cart/ViewQuick',
                    //            'type': 'GET',
                    //            'success': function (data) {
                    //                //console.log(data);
                    //                $('#viewCart').html(data);
                    //            },
                    //        });
                    //        $.ajax({
                    //            'url': '/Cart/TotalProduct',
                    //            'type': 'GET',
                    //            'success': function (data) {
                    //                //console.log(data);
                    //                $('#totalProducts').html(data);
                    //            },
                    //        });
                    //    })
                    //})

                    //function toastrClick(productId) {
                    //    var obj = {
                    //        productId: productId
                    //    }
                    //    $.ajax({
                    //        'url': '/Cart/ToastrProduct',
                    //        'type': 'GET',
                    //        'data': obj,
                    //        'success': function (data) {
                    //            console.log(data);
                    //            $('#jGrowl').html(data)
                    //        },
                    //    });
                    //}

                    $('#popular_brand').slick({
                        prevArrow: '<button type="button" class="slick-prev small_nav"><i class="fa fa-chevron-circle-left"></i></button>',
                        nextArrow: '<button type="button" class="slick-next small_nav"><i class="fa fa-chevron-circle-right"></i></button>',
                        lazyLoad: 'progressive',
                        slidesToShow: 8,
                        slidesToScroll: 1,
                        responsive: [
                            {
                                breakpoint: 991,
                                settings: {
                                    arrows: false
                                },
                            },
                            {
                                breakpoint: 767,
                                settings: {
                                    slidesToShow: 3,
                                    arrows: false
                                }
                            }
                        ]
                    });
                });
            </script>


            <!-- end popular brand -->
            <!-- collection group -->
            <div class="product_sale">
                <div class="separateur_nouveaute">
                    <div class="ligne_nouveaute"></div>
                    <div class="titre_nouveaute">Sản Phẩm Mới</div>

                    <div class='col-lg-12 nopadding index_sale col-sm-12'>

                        @foreach (var item in listProductNew)
                        {

                            <div class="col-sm-3 col-sm-6 col-xs-12 noleftpadding norightpadding">
                                <div class="border-product">
                                    <div class="product clearfix">
                                        <div class="haravan-product-reviews-badge" data-id="@item.ProductId">
                                        </div>
                                        <div class="product-image">
                                            <a href='@Url.Action("Productsdetail","Home",new { id=@item.ProductId})'><img src="@item.Images" data-lazyload="@item.Images" alt="@item.ProductName"></a>
                                            <div class="product-overlay">
                                                @if (item.Quantity > 0)
                                                {
                                                    <a href="javascript:void(0)" data-id="@item.ProductId" class="product_quick_add" data-toggle='tooltip' title='Thêm vào giỏ'><i class="fa fa-shopping-cart"></i><span class='hidden-md hidden-lg'> Thêm vào giỏ</span></a>
                                                }
                                                else
                                                {
                                                    <a href="javascript:void(0)"  data-toggle='tooltip' title='Hết hàng'><i class="fa fa-shopping-cart"></i><span class='hidden-md hidden-lg'> Thêm vào giỏ</span></a>
                                                }
                                                <a href="#product-pop-up" onclick="Quick(@item.ProductId)" class="item-quick-view fancybox-fast-view hidden-sm hidden-xs" data-toggle='tooltip' title='Xem nhanh'><i class="fa fa-eye"></i><span class='hidden-md hidden-lg'> Xem nhanh</span></a>
                                            </div>
                                        </div>
                                        <div class="product-title">

                                            <h4><a href="@Url.Action("Productsdetail","Home",new { id=@item.ProductId})" title="@item.ProductName">@item.ProductName</a></h4>
                                            <span>@item.ProductId</span>
                                        </div>

                                        <div class="product-desc">

                                            @if (item.Discount > 0)
                                            {
                                                <div class="sale-flash">- @item.Discount%</div>
                                            }

                                            <div class="product-price">
                                                @if (item.Discount > 0)
                                                {
                                                    <del class="sale-price">
                                                        @{
                                                            var vie = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

                                                        }
                                                        @String.Format(vie, "{0:c00}", item.PriceOut)

                                                    </del>
                                                    <ins>
                                                        @{

                                                            var price = item.Discount > 0 ? item.PriceOut - item.PriceOut * @item.Discount / 100 : @item.PriceOut;
                                                        }
                                                        @String.Format(vie, "{0:c00}", price)
                                                    </ins>
                                                }
                                                else
                                                {
                                                    <ins>
                                                        @{
                                                            var vie = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

                                                        }
                                                        @String.Format(vie, "{0:c00}", item.PriceOut)

                                                    </ins>
                                                }
                                            </div>

                                            @if (item.Quantity > 0)
                                            {
                                                <div class="buy_all">
                                                    <a class="product_quick_add" data-id="@item.ProductId" href="javascript:void(0)">Mua Ngay</a>

                                                </div>
                                            }
                                            else
                                            {
                                                <div class="buy_alls">
                                                    <a href="javascript:void(0)">Hết hàng</a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }



                    </div>


                </div>
            </div>


            <div class="product_sale">
                <div class="separateur_nouveautess">
                    <div class="ligne_nouveautess"></div>
                    <div class="titre_nouveautess">Sản Phẩm Bán Chạy</div>

                    <div class='col-lg-12 nopadding index_sale col-sm-12'>
                        @foreach (var item in listProductQuickSale)
                        {
                            <div class="col-sm-3 col-sm-6 col-xs-12 noleftpadding norightpadding">
                                <div class="border-product">
                                    <div class="product clearfix">
                                        <div class="haravan-product-reviews-badge" data-id="@item.ProductId">
                                        </div>
                                        <div class="product-image">
                                            <div class="selling">
                                                <span>Bán chạy</span>
                                            </div>
                                            <a href='@Url.Action("Productsdetail","Home",new { id=@item.ProductId})'><img src="@item.Images" data-lazyload="@item.Images" alt="Nước tinh chất hoa hồng hữu cơ Gravier 200ml"></a>
                                            <div class="product-overlay">
                                                @if (item.Quantity > 0)
                                                {
                                                    <a href="javascript:void(0)" data-id="@item.ProductId" class="product_quick_add" data-toggle='tooltip' title='Thêm vào giỏ'><i class="fa fa-shopping-cart"></i><span class='hidden-md hidden-lg'> Thêm vào giỏ</span></a>
                                                }
                                                else
                                                {
                                                    <a href="javascript:void(0)" data-toggle='tooltip' title='Hết hàng'><i class="fa fa-shopping-cart"></i><span class='hidden-md hidden-lg'> Thêm vào giỏ</span></a>
                                                }
                                                <a href="#product-pop-up" onclick="Quick(@item.ProductId)" class="item-quick-view fancybox-fast-view hidden-sm hidden-xs" data-toggle='tooltip' title='Xem nhanh'><i class="fa fa-eye"></i><span class='hidden-md hidden-lg'> Xem nhanh</span></a>
                                            </div>
                                        </div>
                                        <div class="product-title">
                                            <h4><a href="@Url.Action("Productsdetail","Home",new { id=@item.ProductId})" title="Nước tinh chất hoa hồng hữu cơ Gravier 200ml">@item.ProductName</a></h4>
                                            <span>@item.ProductId</span>
                                        </div>

                                        <div class="product-price">
                                            @if (item.Discount > 0)
                                            {
                                                <div class="sale-flash">- @item.Discount%</div>
                                            }

                                            <div class="product-price">
                                                @if (item.Discount > 0)
                                                {
                                                    <del class="sale-price">
                                                        @{
                                                            var vie = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

                                                        }
                                                        @String.Format(vie, "{0:c00}", item.PriceOut)

                                                    </del>
                                                    <ins>
                                                        @{

                                                            var price = item.Discount > 0 ? item.PriceOut - item.PriceOut * @item.Discount / 100 : @item.PriceOut;
                                                        }
                                                        @String.Format(vie, "{0:c00}", price)
                                                    </ins>
                                                }
                                                else
                                                {
                                                    <ins>
                                                        @{
                                                            var vie = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

                                                        }
                                                        @String.Format(vie, "{0:c00}", item.PriceOut)

                                                    </ins>
                                                }
                                            </div>

                                            <div class="buy_all">
                                                @if (item.Quantity > 0)
                                                {
                                                    <div class="buy_all">
                                                        <a class="product_quick_add" data-id="@item.ProductId" href="javascript:void(0)">Mua Ngay</a>

                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="buy_alls">
                                                        <a href="javascript:void(0)">Hết hàng</a>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row separateur_nouveautess blog_index">
                    <div class="ligne_nouveautess polis"></div>
                    <div class="titre_nouveautess blogsss">Tin tức</div>
                    @foreach (var item in listNews)
                    {
                        <div class="col-xs-12 col-md-4 arc-item">
                            <a href="@Url.Action("NewsDetail","Home", new { id = item.NewsId })"><img src="//file.hstatic.net/1000104489/article/anh_4.700_10404819b0e241db9debdf4bef302a96_55751c2d28e94f4da32dc8c4e9174480.jpg" alt=""></a>
                            <a href="@Url.Action("NewsDetail","Home", new { id = item.NewsId })" title="Kem chống nắng có hại như thế nào đến môi trường biển?" class="title_blogss ">@item.NewsTitle</a>
                            <p class="des-blogs">
                                @item.ShortDescription
                            </p>
                        </div>
                    }


                </div>
            </div>

            <style>
                .title_blogss {
                    color: #000 !important;
                    font-weight: bold;
                    display: block;
                    padding: 5px;
                    height: 52px
                }

                .blog_index {
                    margin-bottom: 0;
                }

                .blogsss {
                    background: #FF9900;
                    margin-bottom: 20px;
                }

                .arc-item img {
                    height: 250px;
                }

                .polis {
                    border-bottom: 1px solid #FF9900;
                }

                p.des-blogs {
                    margin: 0px 5px 10px;
                    min-height: 85px;
                }
            </style>
            <!-- end collection group -->
        </div>
    </div>
</section>

